<h2 mat-dialog-title>Atualizar Contato</h2>

<mat-dialog-content class="matdialog">
  <p>Nome</p>
  <mat-form-field class="mat-form-field">
    <mat-label>Digite seu Nome</mat-label>
    <input matInput  [(ngModel)]="contact.name">
  </mat-form-field>
  <p>Sobrenome</p>
  <mat-form-field class="mat-form-field">
    <mat-label>Digite seu Sobrenome</mat-label>
    <input matInput [(ngModel)]="contact.surname">
  </mat-form-field>
  <p>E-mail</p>
  <mat-form-field class="mat-form-field">
    <mat-label>Digite seu E-mail</mat-label>
    <input matInput [(ngModel)]="contact.email">
  </mat-form-field>
  <p>Celular</p>
  <mat-form-field class="mat-form-field">
    <mat-label>Digite o Número do seu Celular</mat-label>
    <input matInput [(ngModel)]="contact.cellPhone">
  </mat-form-field>
</mat-dialog-content>
<div class="check">
  <label class="text-muted">
    Favorito
    <input type="checkbox" formGroupName="allowComments" [(ngModel)]="contact.favorite">
  </label>
</div>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="contact" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

